body{
background-color: lightpink;
}
h1{
color:#F08080;
text-align: center;
border: dashed;
}
h2{
color:#FF9966;
font-family: Comic Sans MS;
border:3px solid white;
}
p{
color: black;
font-family: Comic Sans MS;
text-align: left;
}


input{
	background-color:#FF6666;
}